/* general styling and utility classes */
:root {
  --gap: 0.5em;
}
.gray {
  background-color: #333333;
  color: white;
}
.orange {
  background-color: #f2a33c;
  color: white;
}

.border {
  border: 1px solid white;
}

.spanTwo {
  grid-column: span 2;
  aspect-ratio: 1/0.5;
  border-radius: 2.5em;
}

.mg-bottom-small {
  margin-bottom: 0.7em;
}

.mg-bottom-mid {
  margin-bottom: 1.5em;
}

.mg-bottom-large {
  margin-bottom: 2em;
}

.Number {
  flex: 3;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
}

.Operator {
  flex: 1;
  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--gap);
}

.fs-large {
  font-size: 2.8em;
}

.fs-small {
  font-size: 1em;
}

.fs-mid {
  font-size: 1.5em;
  transition: all ease 0.5s;
}

.display-block {
  display: block;
}

.Button,
button {
  border: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  text-align: center;
  border-radius: 50%;
  font-size: 1.3em;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
}

/* layout and styling of the components */
.App {
  padding: 1em;
}

.CalcContainer {
  background-color: black;
  padding: 1em;
  width: 100%;
  max-width: 18em;
  margin: auto;
  border-radius: 2em;
  box-shadow: 0 0 1em -0.8em rgba(0, 0, 0, 0.8);
  color: #ffff;
}

.Screen {
  padding-block: 2.5em;
  text-align: right;
}

.ButtonContainer {
  display: flex;
  gap: var(--gap);
}

.menuIcon {
  width: 17px;
  height: 17px;
}
