:root {
  --fs-large: clamp(2rem, 2.5vw, 2.8rem);
  --fs-mid: clamp(1.5rem, 2.5vw, 1.8rem);
  --fs-btn: clamp(1.2rem, 2.5vw, 1.5rem);
  --gap: 0.5em;
}

.App {
  padding-top: 2em;
  width: 100%;
}

.gray {
  background-color: #333333;
  color: white;
}
.orange {
  background-color: #f2a33c;
  color: white;
}

.mg-bottom-small {
  margin-bottom: 0.7em;
}

.mg-bottom-mid {
  margin-bottom: 1.5em;
}

.mg-bottom-large {
  margin-bottom: 2em;
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-small {
  font-size: var(--fs-small);
}

.fs-mid {
  font-size: var(--fs-mid);
  transition: all ease 0.5s;
}

.spanTwo {
  grid-column: span 2;
  aspect-ratio: 1/0.5;
  border-radius: 2.5em;
}

.display-block {
  display: block;
}

.Button,
button {
  border: none;
  aspect-ratio: 1/1;
  text-align: center;
  border-radius: 50%;
  font-size: var(--fs-btn);
  cursor: pointer;
}

/* layout */
.CalcContainer {
  background-color: black;
  padding: 1em;
  max-width: 20em;
  margin: auto;
  border-radius: 2em;
  color: #ffff;
}

.Screen {
  padding-block: 2.5em;
  text-align: right;
}

.ButtonContainer {
  display: flex;
  gap: var(--gap);
}

.Number {
  flex: 3;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
}

.Operator {
  flex: 1;
  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--gap);
}
